<%- include("./partials/header"); %>
<main>
    <section id="userAuthentication">
        <div class="container box loginForm">
            <form action="/login" method="GET">
                <button class="btn btnLogin" value="/login">Login</button>
            </form>
            <form action="/register" method="GET">
                <button class="btn btnRegister" value="/register">Signup</button>
            </form>
        </div>
    </section>
</main>
<%- include("./partials/footer"); %>    


