<%- include("./partials/header"); %>
<main>
    <section id="userAuthentication">
        <div class="container">
            <form action="/signin" method="GET">
                <button value="/signin">Login</button>
            </form>
            <form action="/signup" method="GET">
                <button value="/signup">Signup</button>
            </form>
            
            
        </div>
    </section>
</main>
<%- include("./partials/footer"); %>    