<%- include("./partials/header"); %>
<main>
    <!-- List  -->
    <section id="toDo">
        <div class="wrapper">
            <div class="container">
                <h1 class="listTitle">This is My List</h1>
                <div class="container">
                    <ul class="todoList">
                        <li class="item">Buy groceries</li>
                        <li class="item">Buy Food</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("./partials/footer"); %>