<%- include("./partials/header"); %>
<main>
    <section id="login">
        <div class="container box signinForm">
            <form action="/login" method="POST">
                <input type="text" placeholder="username" name="username" class="loginInput">
                <input type="password" placeholder="password" name="password" class="loginInput">
                <button type="submit"class="btn btnLoginSubmit" >Login</button>
            </form>
        </div>
    </section>
</main>
<%- include("./partials/footer"); %>   