<%- include("./partials/header"); %>
<main>
    <section id="signUp">
        <div class="container">
            <form action="/signup" method="POST">
                    <input type="text" placeholder="username" name="username">
                    <input type="password" placeholder="password" name="password">
                    <button type="submit">Login</button>
            </form>
        </div>
    </section>
</main>
<%- include("./partials/footer"); %>   