html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #13a2be, #c1ecea);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #13a2be, #c1ecea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.nav {
    padding-top: 100px;
}

.box {
    margin: auto;
    width: 400px;
    border-radius: 10px;
    background-color: white;
}

#listHeading {
    text-align: center;
    background-color: rgb(0, 65, 65);
}
.listTitle {
    font-size: 2.0rem;
    color: white;
    padding: 10px;
}

.items {
    padding: 10px 0 0 0;
}

.item {
    list-style: none;
    border-bottom: rgb(173, 173, 173) 0.5px solid;
    padding: 20px;
}
.item input {
    margin-right: 25px;
}
.item:last-child {
    border-bottom: none;
}

input[type="text"] {
    text-align: center;
    border: none;
    height: 30px;
    font-size: 20px;
    background: transparent;
    font-weight: 200px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #13a2be;
}

.btn-add {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    background-color: rgb(0, 65, 65);
}
input[type="checkbox"] {
    margin-right: 20px;
    display: inline-block;
}

.loginForm {
    margin: 200px auto;
}
.btn {
    width: 100%;
    height: 50px;
}

.btnLogin {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.btnLogin:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
    
.btnRegister {
    border: none;
    background: #ffffff;
    color: #404040 !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.btnRegister:hover {
    color: #a59494 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }    


input[type="password"] {
    text-align: center;
    border: none;
    height: 30px;
    font-size: 20px;
    background: transparent;
    font-weight: 200px;
}

input[type="password"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #13a2be;
}

.btnLoginSubmit {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.btnLoginSubmit:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }

    .loginInput {
        width: 100%;
    }